<!DOCTYPE html>
<html>
<head lang="en">
  <meta charset="UTF-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
  <meta property="og:title" content="ZotHacks 2018">
  <meta property="og:description" content="Learn. Explore. Create">
  <meta property="og:image" content="http://bit.ly/2Q3r3wv">
  <meta property="og:site_name" content="ZotHacks">
  <meta name="twitter:card" content="summary_large_image">
  <title> ZotHacks 2018 </title>

  <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
  
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/semantic-ui@2.3.0/dist/semantic.min.css">
  <script async src="https://cdn.jsdelivr.net/npm/semantic-ui@2.3.0/dist/semantic.min.js"></script>
  
  <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.20.1/moment.min.js"></script>
  
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous" as="style" onload="this.rel='stylesheet'">
  <link rel="stylesheet" href="../static/css/style.css">
  <link href="https://fonts.googleapis.com/css?family=Rubik:300,400,500,700" rel="stylesheet">
  
  <link rel="icon" type="image/png" sizes="32x32" href="../static/images/logo.png">
  <link rel="icon" type="image/png" sizes="96x96" href="../static/images/logo.png">
  <link rel="icon" type="image/png" sizes="16x16" href="../static/images/logo.png">
</head>
<body>
  <!-- Navbar -->
  <div id="navbar">
    <!-- Navbar for desktop -->
    <div class="navbar ui grid computer only">
      <div href="/" class="logo-header logo-header__spinning">
        <img src="../static/images/logo-cog.svg">
      </div>
      <div href="/" class="logo-header">
        <img src="../static/images/hack_logo.png">
      </div>
      <div class="logo-header_live center">
        LIVE
      </div>
      <div class="navbar-menu">
        <a class="menu-item menu-item-active">
          SCHEDULE
        </a>
        <a href="https://bit.ly/zh18resources" target="_blank" class="menu-item">
          RESOURCES
          <i class="fa fa-external-link"></i>
        </a>
        <a href="https://zothacks2018.slack.com" target="_blank" class="menu-item">
          SLACK
          <i class="fa fa-external-link"></i>
        </a>
        <a href="https://zothacks2018.devpost.com/" target="_blank" class="menu-item">
          DEVPOST
          <i class="fa fa-external-link"></i>
        </a>
      </div>
    </div>
  </div>
  <!-- End navbar -->
  <!-- End navbar modal for mobile -->
  <div id="schedule">
    <section id="hero" class="center">
      <!-- Hero logo on mobile -->
      <div class="logo-header-container ui grid mobile only tablet only">
        <div href="/" class="logo-header logo-header__spinning">
          <img src="../static/images/logo-cog.svg">
        </div>
        <div class="logo-header">
          <img src="../static/images/hack_logo.png">
        </div>
      </div>
      <!-- End hero logo on mobile -->

      <!-- Countdown timer -->
      <div class="countdown-container">
        <span class="countdown-segment">
          ZotHacks 2018
        </span>
      </div>
      <!-- End countdown timer -->

      <!-- SVG curve -->
      <div class="hero-border">
        <svg version="1.1" id="circle" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 1920 380" xml:space="preserve" preserveAspectRatio="none">
          <path fill="#fff" d="M0,309c0,0,340,70.8,960,70.8c620,0.2,960-70.8,960-70.8v71H0" transform="translate(0 1)"></path>
        </svg>
      </div>
      <!-- End SVG curve -->
    </section>

    <section id="schedule-container">
      <!-- Loop through the array of schedules and print them out -->
      <div class="schedule-box ui stackable">
        <div class="column">
          <div class="title">
            November 17, 2018
          </div>
          {% if events %}
          {% for event in events["day"] %}
          <div class="schedule-list">
            <div class="schedule">
              <span class="schedule-title">
                {{event["name"]}}
              </span>
              <span class="schedule-time">
                {{event["time"]}}
              </span>
              <span class="schedule-location">
                {{event["location"]}}
              </span>
            </div>
          </div>
          {% endfor %}
          {% endif %}
        </div>
      </div>
    </section>
  </div>
</body>
</html>